<h1>Products:</h1>
<button
  *ngIf="backButton"
  class="bg-cyan-700 pt-2 pb-2 pl-10 pr-10 mt-2 ml-2"
  (click)="goBack()"
>
  Go Back
</button>
<div *ngFor="let product of products">
  <div class="grid m-10 grid-cols-2 p-2 border-solid border-2 border-sky-500">
    <div>
      <div
        class="grid gap-4 grid-cols-2 cursor-pointer"
        (click)="showProduct(product.sku)"
      >
        <div>
          <p>{{ product.name }}</p>
          <p class="line-clamp-1">{{ product.description }}</p>
        </div>
        <div>
          <p class="text-center mt-2">$ {{ product.price }}</p>
        </div>
      </div>
    </div>
    <div class="grid justify-center">
      <button
        class="bg-cyan-700 pl-10 pr-10 mt-1"
        *ngIf="isAdmin"
        (click)="editProduct(product.sku)"
      >
        Edit Product
      </button>
    </div>
  </div>
</div>
