<button
  (click)="goBack()"
  class="bg-cyan-700 pt-2 pb-2 pl-5 pr-10 mt-2 ml-2 mr-80"
>
  Return to Dashbaord
</button>
<div class="grid grid-cols-1 p-4" *ngIf="cart">
  <div>
    <p><b>Customer First Name:</b> {{ cart.first_name }}</p>
    <p><b>Customer Last Name:</b> {{ cart.last_name }}</p>
    <p><b>Customer Email:</b> {{ cart.email }}</p>
  </div>
  <div class="pt-5">
    <div *ngIf="cart.products && cart.products.length == 0">
      No Products currently in cart
    </div>

    <app-products-list-view
      [backButton]="false"
      [products]="cart.products"
    ></app-products-list-view>

    <div *ngIf="!cart"><p>Cart could not be found</p></div>
  </div>
</div>
